.search-container {
  width: 100%;
  max-width: 720px;
  margin: 4px 0;
}
.search-container > input {
  width: calc(100% - 2.4em - 2px);
  max-width: calc(720px - 2.4em - 2px);
}

.nodes-list-container {
  width: 100%;
  max-width: 720px;
  margin: 4px 0;
}

.nodes-list-container > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nodes-list-container > ul > li {
  word-break: break-all;
}

.add-node-container {
  width: 100%;
  max-width: 720px;
  margin: 4px 0;
}
.add-node-container > form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.add-node-container > form > input {
  width: calc(100% - 2.4em - 2px);
  max-width: calc(720px - 2.4em - 2px);
}
.add-node-container > form > textarea {
  width: calc(100% - 2.4em - 2px);
  max-width: calc(720px - 2.4em - 2px);
}
.add-node-container > form > button {
  align-self: flex-end;
}
