.search-container {
  margin: 8px 0;
  width: 100%;
  max-width: 600px;
}

.search-input {
  width: calc(100% - 2.4em - 2px);
  max-width: calc(420px - 2.4em - 2px);
}

.nodes-list-container {
  margin: 4px 0;
  width: 100%;
  max-width: 600px;
}

.nodes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nodes-list li {
  word-break: break-all;
}

.add-node-container {
  margin: 16px 0;
  width: 100%;
  max-width: 600px;
}

.add-node-input {
  width: calc(100% - 2.4em - 2px);
  max-width: calc(420px - 2.4em - 2px);
}

.add-node-textarea {
  width: calc(100% - 2.4em - 2px);
  max-width: calc(600px - 2.4em - 2px);
}
